@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@font-face {
	font-family: "FontAwesome";
	src: url("../assets/fa-solid-900.ttf") format("truetype");
}

* {
	scroll-behavior: smooth !important;
}

.fa {
	font-family: "Manrope", "FontAwesome";
}

// ! SCROLLBAR

/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f7f7f7;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #cccccc;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #aaaaaa;
}

// ! #########

* {
	:focus-visible {
		outline: none !important;
	}
	scroll-behavior: smooth;
}

.grecaptcha-badge {
	display: none !important;
}

.animated-container {
	display: flex;
	* {
		margin: auto;
	}
}

